body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.padding-20 {
	padding: 20px;
}
.padding-5 {
	padding: 5px;
}

.ligin-parent {
animation: color-me-in 2s;
	    width: 500px;
    margin: auto;
    color: white;
}
.ligin-parent select ,input {
	width: 93%;
	height: 34px;
}
.ligin-parent-new {
	margin: auto; 
	width: 93%;
	height: 34px;
}

.button-parent {
    text-align: right;
    padding: 5px 32px;
}
.bg-image {
	
	    position: absolute;
    width: 118%;
    z-index: -1;
    left: 0;
}

@keyframes color-me-in {
  /* You could think of as "step 1" */
  0% {
    opacity: 0;

    border-radius: 10px;
  }
  /* You could think of as "step 2" */
  100% {
  	    background: none;
   opacity: 1;
  }
}

@keyframes curve {
  /* You could think of as "step 1" */
  0% {
    opacity: 0;

    border-radius: 0px;
  }
  /* You could think of as "step 2" */
  100% {
  	    border-radius: 50px;
  	    background: none;
   opacity: 1;
  }
}



.title-header {
	animation: color-me-in 5s;
	    background: linear-gradient(#333333, #293f501a);
    /* background: wheat; */
    background-image: linear(from left);
    /*border-bottom: 1px solid #FFEB3B;*/
    border-bottom: 1px solid lime;
    margin-top: 30p;
    color: white;
    border-bottom-right-radius: 68px;
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#students {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#students td, #students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#students tr:nth-child(even){
	background-color: white;
	color: black;
}
#students tr:nth-child(odd){
	background-color: black;
	color: white;
}

/*#students tr:hover {background-color: #ddd;}*/

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

.mt-20 {
	margin-top: 20px;
}





/* devanagari */
body, html {
	height: 100%;
	font-family: 'Poppins', sans-serif;
}
a, a:hover {
	text-decoration: none !important;
}
.dashboard {
	font-family: 'Nunito Sans', sans-serif;
}

/* Login Page */
.login-section {
	
}
.login-section-left {
	
}
.bg {
	/*background-image: url(./robotics.jpg);*/
	background-position: right center;
	background-size: cover;
}
.login-section-right {
	box-shadow: -14px 1px 20px rgba(0, 0, 0, 0.039);
}
.login-section-right-inner {
	padding: 18px 85px;
}
.brand-logo {
	color: rgba(249, 104, 84,1);
    font-size: 64px;
    font-weight: 600;
    letter-spacing: 9px;
    text-align: center;
	margin-bottom: 25px;
}
.login-title {
	color: rgba(102, 102, 102,1);
	font-size: 20px;
}
.login-label {
	color: rgba(102, 102, 102, 0.5);
	text-shadow: 0 0 rgba(102, 102, 102, 0.5);
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 0.4px
}
.login-input {
	border: 1px solid rgba(151,151,151,1);
    color: rgba(102,102,102,1);
    padding: 15px;
    font-size: 13px;
    height: 54px;
}
.remember-label {
	cursor: pointer;
}
.remember-label input {
	height: 0;
	width: 0;
	opacity: 0;
	margin: 0;
}
.remember-label input+.chkbox {
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 1px solid rgba(249, 104, 84,1);
	border-radius: 3px;
    vertical-align: middle;
    margin-right: 3px;
}
.remember-label input:checked+.chkbox {
	background-color: rgba(249, 104, 84,1);
}
.login-btn, .login-btn:visited {
    background-color: rgba(249, 104, 84,1);
	border: 2px solid rgba(249, 104, 84,1);
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 20px;
    height: 54px;
    width: 100%;
    padding: 10px 15px;
	transition: all 300ms ease-in-out;
}
.login-btn:hover {
	background-color: #FFFFFF;
    color: rgba(249, 104, 84,1);
}
.signup-label {
	color: rgba(249, 104, 84,1);
}


/* Dashboard Starts */
.sidebar {
	box-shadow: 4px 0px 27px rgba(0, 0, 0, 0.05)
}
.sidebar-inner {
	padding: 30px 5px;
}
.branches-dropdown {
	border: 1px solid rgb(223,225,229);
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
}
.branches-dropdown.dropdown-toggle::after {
    display: inline-block;
    width: 13px;
    height: 10px;
    margin-left: 0;
    vertical-align: middle;
    /*background: url(../images/dropdown_caret@2x.png) no-repeat 88% center;*/
    border: none;
}
.branch-status {
	display: inline-block;
    width: 16px;
    height: 16px;
    /*background: url(../images/branch-status@2x.png) no-repeat 88% center;*/
    border: none;
    position: absolute;
    top: 8px;
    left: 35px;
}
.branch-title {
	font-size: 14px;
    font-weight: 700;
    color: #000;
}
.branch-name {
	font-size: 11px;
}
.branches-dropdown img {
	width: 37px;
	margin-right: 8px !important;
}

.main-menu a.nav-link {
    color: black;
    font-size: 14px;
    text-shadow: 0 0 black;
    padding: 10px 12px;
    font-weight: 400;
    border-radius: 4px;
	transition: all 300ms ease-in-out;
}
.main-menu > li > a.nav-link:hover {
	background-color: rgb(0, 119, 242);
    color: white;
	text-shadow: 0 0 white;
}
.main-menu > li.active > a.nav-link {
    background-color: rgba(249,104,84,1);
    color: white;
	text-shadow: 0 0 white;
}
.sub-menu-first-level {
	display: none;
}
.active .sub-menu-first-level {
	display: block;
	margin-top: 10px;
}
.sub-menu-first-level a.nav-link:hover {
    color: rgb(0, 119, 242);
	text-shadow: 0 0 rgb(0, 119, 242);
}
.main-menu li.active .sub-menu-first-level > li.active a.nav-link {
    color: rgba(249,104,84,1);
	text-shadow: 0 0 rgba(249,104,84,1);
}
.main-menu li.active .sub-menu-first-level li a.nav-link { 
	padding: 6px 12px;
}
.menu-icons {
	display: inline-block;
	width: 20px;
	height: 21px;
    vertical-align: sub;
    margin-right: 16px;
}
.menu-icons.focus {
	
}
.nav-item.active .menu-icons.focus {
	/*background-image: url(../images/face-recognition@2x.png);*/
}
.form-control.search-input {
    border-radius: 99px;
    height: 32px;
    padding-left: 35px;
    box-shadow: 0 0 11px rgba(219, 219, 219, 0.47);
    width: 70%;
    border-color: rgba(226, 226, 226, 0);
    font-size: 13px;
	/*background: url(../images/search@2x.png) no-repeat 14px center;*/
}
.search-input::-webkit-input-placeholder { 
	color: rgba(179,186,197, 1);
	font-size: 12px;
}
.search-input::-moz-placeholder {
	color: rgba(179,186,197, 1);
	font-size: 12px;
}
.search-input:-ms-input-placeholder {
	color: rgba(179,186,197, 1);
	font-size: 12px;
}
.search-input:-moz-placeholder {
	color: rgba(179,186,197, 1);
	font-size: 12px;
}

.live-track-btn {
	border-radius: 99px;
	height: 32px;
	padding: 4px 24px;
	box-shadow: 0 0 11px rgba(219, 219, 219, 0.47);
	border-color: rgba(226, 226, 226, 0);
	font-size: 13px;
	font-weight: 500;
	color: black;
	text-decoration: none;
}
.live-track-btn:hover {
	text-decoration: none;
}
.live-track-btn img {
	margin-right: 5px;
}
.nav-top .nav-item {
	padding: 0px 10px;
}
.page-title {
	font-weight: 700;
}

.count-outter {
	padding: 15px;
	border: 1px solid rgb(223,225,229);
	border-radius: 4px;
}
.count-title {
	font-weight: 600;
    font-size: 20px;
}
.count-title img {
	margin-right: 8px;
}
.count-numbers {
	font-size: 38px;
    font-weight: 700;
    line-height: 32px;
    margin-top: 15px;
}
.filter-label {
	font-size: 20px;
    font-weight: 700;
}
.filter-select {
	width: 103px;
    display: inline-block;
    border-radius: 99px;
    border: 1px solid rgba(223,225,229,1);
    -webkit-appearance: none;
    height: 34px;
    padding: 6px 10px;
    line-height: 20px;
    margin-left: 5px;
	/*background: url(../images/dropdown_caret@2x.png) no-repeat 88% center;*/
}
a.filter-links, a.filter-links:visited, a.filter-links:active  {
    color: rgba(40,44,54,.2);
    font-weight: 500;
    text-shadow: 0 0 rgba(40,44,54,.2);
	transition: all 300ms ease-in-out;
}
a.filter-links:hover, a.filter-links.active {
    color: #f96854;
    text-shadow: 0 0 #f96854;
	text-decoration: none;
}
.employees-list-table table {
	table-layout: fixed;
}
.employees-list-table .table thead th {
	border-bottom: 2px solid rgba(223,225,230,1);
	font-size: 13px;
	border-top: none;
	vertical-align: middle;
}
.employees-list-table .table tbody td {
	font-size: 13px;
	vertical-align: middle;
	color: rgba(40, 44, 54, 1);
	text-shadow: 0 0 rgba(40, 44, 54, 1);
}
.employees-list-table .table .emp-name {
	color: rgba(232,91,0,1);
	text-shadow: 0 0 rgba(232,91,0,1);
}
.employees-list-table .table-hover tbody tr {
	transition: box-shadow 100ms ease-in-out;
}
.employees-list-table .table-hover tbody tr:hover {
	background-color: rgb(255, 255, 255);
	box-shadow: 0 0 10px #e2e2e2;
}
.list-actions {
	display: block;
	opacity: 0;
	cursor: pointer;
	height: 30px;
    margin: auto;
	position: relative;
	padding: 3px 0px;
}
.list-actions .list-action-icon {
	width: 15px;
	margin: 0px 15px auto auto;
}
.list-actions .list-action-icon div {
    width: 4px;
    height: 4px;
    background-color: #797979;
    border-radius: 100%;
    overflow: hidden;
    margin-top: 3px;
    margin-bottom: 3px;
	transition: all 100ms ease-in-out;
}
.employees-list-table .table-hover tbody tr:hover .list-actions {
	opacity: 1;
}
.list-links {
	display: block;
	width: 25px;
	height: 25px;
	padding: 0px 5px;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-position: center;
}
.list-links.edit {
	/*background-image: url('../images/edit@2x.png');*/
}
.list-links.delete {
	/*background-image: url('../images/delete@2x.png');*/
	height: 27px;
}
.action-items {
	position: absolute;
	right: 38px;
	top: 3px;
	opacity: 0;	
}
.list-actions:hover .action-items {
	opacity: 1;
}
.list-actions:hover .action-items ul li {
	width: 40px;
}
.action-items ul li {
	width: 0px;
	overflow: hidden;
	transition: width 100ms ease-in-out;
}
.action-items ul li {
	padding: 0 8px;
}
.form-control.list-search {
	box-shadow: none;
	border: 1px solid rgb(223,225,229);
}

/* Dashboard Ends */


/* Employees List Starts */
.btn-new, .btn-new:visited {
    background-color: #f96854;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px 10px 4px 10px;
    border: 2px solid #f96854;
    transition: all 400ms ease-in-out;
    border-radius: 3px;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
}
.btn-new:hover {
	background-color: #d51a00;
	color: #FFFFFF;
}
.add-new {
	display: inline-block;
    height: 12px;
    width: 12px;
    /*background: url(../images/icon-plus@2x.png) no-repeat center;*/
    vertical-align: middle;
    margin-top: -3px;
}
.user-wizard .wiz-link,.user-wizard .wiz-link:visited, .user-wizard .wiz-link:active {
	color: rgba(40,44,54,0.5);
    font-size: 14px;
    font-weight: 600;
}
.user-wizard .wiz-link:hover {
	text-decoration: none;
}
.user-wizard .current .wiz-link, .user-wizard .done .wiz-link {
	color: rgba(40,44,54,1);
}
.user-wizard .current .wiz-link span {
	display: inline-block;
	width: 7px;
	height: 7px;
	background-color: rgba(249,104,84,1);
	border-radius: 50%;
	vertical-align: middle;
	margin-top: -2px;
	margin-left: 5px;
}
.user-wizard .done .wiz-link span {
	display: inline-block;
	width: 7px;
	height: 7px;
	/*background-image: url(../images/icon-plus@2x.png);*/
	border-radius: 50%;
	vertical-align: middle;
	margin-top: -2px;
	margin-left: 5px;
}

/* Employees List Ends */



/* New Employees Starts */
.sub-title {
    margin-bottom: 5px;
    font-size: 15px;
    color: rgb(40,44,54,.5);
    font-weight: 400;
}
.preshot-section {
	border: 2px solid rgba(151,151,151,.5);
	border-radius: 3px;
	text-align: center;
	padding: 80px;
}
.preshot-section.modal-opener {
	cursor: pointer;
}
.preshot-section-help-text p {
	color: rgb(40,44,54);
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 15px;
    font-weight: 600;
}
.preshot-section-thumbs li {
	/* min-width: 90px; */
	border: 1px solid rgba(151, 151, 151, .4);
    padding: 12px;
    text-align: center;
    border-radius: 2px;
}
.info-tip {
	/*background-image: url(../images/information@2x.png);*/
	display: inline-block;
	width: 13px;
	height: 13px;
	vertical-align: middle;
    margin-left: 5px;
	cursor: pointer;
}
.btn-capture {
	display: inline-block;
	padding: 6px 16px;
	box-shadow: 0 0 6px #cccccc;
	font-size: 20px;
	font-weight: 600;
	color: rgba(118,120,127,1);
	transition: all 300ms ease-in-out;
}

.btn-capture:hover {
	background-color: #f96854;
	color: rgba(255,255,255,1);
	text-decoration: none;
}
.cp-icon {
	display: inline-block;
	width: 32px;
	height: 30px;
    /*background: url(../images/capture@2x.png) no-repeat center;*/
    vertical-align: middle;
    margin-right: 10px;
    background-size: 98%;
}
.btn-capture:hover .cp-icon {
	/*background: url(../images/capture-white@2x.png) no-repeat center;*/
	background-size: 98%;
}

.btn-cancel {
	color: rgba(249,104,84,1);
	font-size: 24px;
	font-weight: 400;
	margin-right: 35px;
	padding: 4px 0px;
	display: inline-block;
	vertical-align: middle;
}
.btn-lg {
	font-size: 24px;
	padding: 11px 70px;
	display: inline-block;
}

.wiz-form label {
	font-weight: 700;
	color: rgb(40,44,54);
	font-size: 14px;
	margin-bottom: 5px;
}
#user-wizard-content {
	overflow: hidden;
}
#employee-photo, #employee-details {
	transition: transform 300ms ease-in-out;
	position:relative;
}

/* Popup Section Starts Here */

.popup-help-text {
	color: rgb(40,44,54);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 9px;
}

/* Popup Section Ends Here */


/* New Employees Ends */

/* Live Feed */
.mirror-user-btn {
	display: block;
	padding: 6px 15px;
	border: 2px solid rgba(51, 51, 51, .5);
	font-weight: 700;
	font-size: 20px;
	border-radius: 3px;
	color: #333;
	cursor: pointer;
	transition: all 300ms ease-in-out;
}
.mirror-user-btn:hover {
	color: rgba(249,104,84, 1);
	border: 2px solid rgba(249,104,84, 1);
}
.close-mirror-btn {
	display: block;
	padding: 6px 15px;
	border: 2px solid rgba(249,104,84, .5);
	font-weight: 700;
	font-size: 22px;
	border-radius: 3px;
	color: rgba(249,104,84, 1);
	text-align: center;
	cursor: pointer;
	transition: all 300ms ease-in-out;
}
.close-mirror-btn:hover {
	background-color: rgba(249,104,84, 1);
	color: #FFFFFF;
}
.live_feed_video {
	max-height: 500px;
}


.mb-35 {
	margin-bottom: 35px;
}
.font-bold {
	font-weight: 600;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
	.login-section-right-inner {
		padding: 18px 15px;
	}
}
@media only screen and (max-width: 575px) {
	.login-section-right-inner {
		padding: 0px;
	}
}
@media (min-width: 992px) {
	.modal_custom_lg {
		max-width: 900px;	
	}
	.modal_custom_lg .modal-body {
		padding: 25px 50px;
	}
}
.custom-container {
	width: 90%;
}

#root {
	height: 100%;
}
.img-fluid {
    max-width: 93% !important;
    height: auto;
    margin-left: 50px;
}

.form-control {

    height: 60px !important;
    
}

.common-action-button {
	color: #F8735D;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
    /*-webkit-text-fill-color: white !important;*/
}

.hidden {
	display: none;
}